# Environments
.env
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# MLOps / Data Stores (managed by DVC or local)
mlruns/
vector_store_personal/


# IDE / OS files
.idea/
.vscode/
*.DS_Store